.visitor-complaints {
  margin-top: 10px;
  font-family: var(--font-family);
  color: var(--text-color-secondary);

  .complaints-list-title {
    display: inline;
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }

  .spinner-border {
    margin: 20px auto;
    display: block;
    color: var(--primary-color);
  }

  .card {
    margin-bottom: 15px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-default);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    &-header {
      background-color: var(--background-color);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-medium);
      padding: 5px;
      color: var(--font-color);
    }

    &-body {
      font-size: var(--font-size-sm);
      padding: 10px;

      p {
        margin: 0;
        color: var(--text-color-secondary);
      }
    }

    &-footer {
      background-color: var(--background-color);
      font-size: var(--font-size-sm);
      padding: 10px;
      color: var(--text-color);
      border-top: 1px solid var(--divider-color);
    }
  }

  p {
    font-size: var(--font-size-base);
    color: var(--text-color-secondary);
    text-align: start;
  }
}
