.logout {
  display: flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  align-self: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  padding: 12px;
  color: var(--link-default);
  margin-left: -12px;
  margin-right: -12px;
  width: calc(100% + 24px);

  &-icon {
    display: flex;
    cursor: pointer;
  }

  &-text {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
  }

  &:hover {
    background: var(--danger-color) !important;
    color: var(--white) !important;
  }
}
