.breadcrumbs {
  font-size: 14px;
  color: var(--text-color-secondary);
  width: fit-content;
  background-color: var(--background-color);
  padding: 10px 5px;

  font-size: 14px;
  color: #555;

  span {
    font-size: 16px;

    color: var(--text-color-secondary) !important;

    a {
      text-decoration: none;
      color: var(--link-hover) !important;
      transition: color 0.3s;
      text-decoration: none;
      color: #8f9091;
      font-size: 14px;

      &:hover {
        cursor: pointer;

        text-decoration: none;
        color: var(--link-color) !important;
      }
    }

    &:last-child a:hover {
      cursor: default;
      color: var(--text-color-secondary);
    }
  }
}
