.notification-bell {
  display: flex;
  align-items: center;
  justify-content: center;

  .notification-dropdown {
    position: relative;
  }

  .notification-toggle {
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 0;

    .dropdown-toggle::after {
      display: none;
    }

    .notification-badge {
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 0.75rem;
    }
  }

  .notification-menu {
    width: 200px;
    padding: 10px;
    font-size: 0.9rem;

    top: 30px;
    right: calc(50% - 100px);
    left: auto;

    .dropdown-item {
      cursor: pointer;
      font-size: 0.9rem;
      padding: 10px;
      word-break: break-word;
      overflow-wrap: break-word;
      white-space: normal;

      &.unread {
        background-color: #f8f9fa;
        font-weight: bold;
      }

      &.read {
        background-color: #e9ecef;
        color: gray;
      }

      &:hover {
        background-color: #f1f3f5;
      }
    }

    .dropdown-item-text {
      padding: 10px;
      font-size: 0.85rem;
      text-align: center;
    }
  }
}
