:root {
  --red: #ff2829;
  --red20: #ff5b5c;
  --error-color: #dc3545;
  --text-color: #bac0c7;
  --text-color-secondary: #5e7289;
  --border-default: #dfe3e7;
  --hover-color: #2c6de9;
  --input-border: #ced4da;
  --link-default: var(--primary-color);
  --link-active: var(--primary-hover);
  --sidebar-bg: var(--background-color);
  --sidebar-hover-bg: #e2ecff;
  --sidebar-active-bg: var(--secondary-color-hover);
  --sidebar-link-active: var(--link-default);

  --form-background: var(--white);
  --lighten-form-background: lighten(--form-background, 10%);

  /* General Colors */
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #2d2d2d;
  --light-gray: #f5f5f5;
  --mid-gray: #e0e0e0;
  --gray: #9e9e9e;

  /* Primary Colors */
  --primary-color: #262e77;
  --primary-hover: #2d3794;
  --secondary-color: #fc960f; /* Bright yellow */
  --secondary-color-hover: #fdac41; /* Darker yellow for hover */

  /* Alert Colors */
  --success-color: #43a047; /* Rich green */
  --success-hover: #2e7d32; /* Dark green for hover */
  --danger-color: #f61b09; /* Vibrant red */
  --danger-hover: #d32f2f; /* Dark red for hover */
  --warning-color: #ff9800; /* Bright orange */
  --warning-hover: #f98e6d; /* Darker orange for hover */

  /* Text Colors */
  --font-color: #475f7b; /* Dark blue-gray for main text */
  --font-color-light: #607d8b; /* Lighter blue-gray for secondary text */
  --font-color-muted: #b0bec5; /* Muted light blue-gray */

  /* Borders and Dividers */
  --border-color: #cfd8dc; /* Soft gray */
  --divider-color: #eceff1; /* Subtle divider color */

  /* Backgrounds */
  --background-color: #f8fafc; /* Light gray background */
  --card-bg: #ffffff; /* White for cards and table background */
  --breadcrumb-bg: #fafafa; /* Slightly darker breadcrumb background */
  --table-hover: #e3f2fd; /* Light blue hover for tables */

  /* Buttons and Links */
  --link-color: var(--primary-color);
  --link-hover: #1565c0;
  --button-hover: #e3f2fd;

  /* Font Settings */
  --font-family: "Inter", sans-serif; /* Clean and modern font */
  --font-size-base: 1rem; /* Default font size */
  --font-size-sm: 0.875rem; /* Smaller font size */
  --font-size-lg: 1.25rem; /* Larger font size */
  --font-weight-normal: 400; /* Normal font weight */
  --font-weight-medium: 500; /* Medium font weight */
  --font-weight-bold: 700; /* Bold font weight */
  --line-height-base: 1.6; /* Comfortable line height */
}
